*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-top{
    display: flex;
    margin-left: 50px;
}
.main-text-left{
    margin-left: 100px;
    margin-top: 80px;
}
.top-text{
    font-family: "Visby CF", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: lowercase;
    line-height: 1px;
    letter-spacing: -1.2px;
    color: #4a4a4a;
}
.bottom-text{
    font-family: "Visby CF", Sans-serif;
    font-size: 38px;
    font-weight: 300;
    line-height: 0.1em;
    letter-spacing: -0.1px;
    margin-top: 50px;
    color: #4a4a4a;
}
.img-bottom{
    margin-top: 60px;
}
.paragraph{
    margin-top: 30px;
    font-size: 18px;
}

.main-border-right{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 50px;  
}
.box-one{
    border: 0.5px solid #d3d3d5;
    width: 284px;
    height: 199px;
}
.box-one-img{
    width: 119px;
    height: 95px;
    padding: 13px 20px!important;
}
.box-one-text{
    
    font-family: "Visby CF", Sans-serif;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0em;
    margin-top: 70px;
    margin-left: 13px;
    color: #4a4a4a; 
}
.box-two{
   
    border: 1px solid #d3d3d5;;
    width: 284px;
    height: 199px; 
}
.box-two-img{
    width: 119px;
    height: 95px;
    padding: 13px 20px!important;
}
.box-two-text{
    font-family: "Visby CF", Sans-serif;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0em;
    margin-top: 70px;
    margin-left: 13px;
    color: #4a4a4a;
}
.box-tree{
    border: 1px solid #d3d3d5;
    width: 284px;
    height: 199px;
}
.box-tree-img{
    width: 119px;
    height: 95px;
    padding: 13px 20px!important;
}
.box-tree-text{
    font-family: "Visby CF", Sans-serif;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0em;
    margin-top: 70px;
    margin-left: 13px;
    color: #4a4a4a;
}
.box-four{
    border: 1px solid #d3d3d5;;
    width: 284px;
    height: 199px;
}
.box-four-img{
    width: 119px;
    height: 95px;
    padding: 13px 20px!important; 
}
.box-four-text{
    font-family: "Visby CF", Sans-serif;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0em;
    margin-top: 70px;
    margin-left: 13px;
    color: #4a4a4a;
}
/*Main bottom*/